.App {
  text-align: center;
}
@keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}

.App-logo {
  height: 40vmin;
  animation-name: rotation;
  animation-duration: 30s;
  animation-iteration-count: infinite;
}

.shadow {
  position: absolute;
  margin-top: -28px;
  opacity: 0.3;
  animation-duration: 20s;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
